<nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item has-text-white has-text-weight-bold" href="/home">
                YOU BLOG
        </a>
          <a class="navbar-item has-text-white" href="/home">
            Home
          </a>

        </div>
  </nav>